{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron">
    <h2 style="text-align: center; color: #206aaa;">Sign Up Form</h2>
    <div id="MensajeAlertaRegistro"></div>
    
    <form id="formregistro" action="/actualizar_usuario" method="post" name="registrar">
        <input type="hidden" name="id" value="{{usuario.id}}">
        <div class="form-group">
            <label for="name">Nombre Completo</label>
            <input type="text" name="name" id="name" class="form-control" value="{{usuario.name}}">
        </div>
        <div class="form-group">
            <label for="email">E-mail</label>
            <input type="text" name="email" id="email" class="form-control" value="{{usuario.email}}">
        </div>
        <div class="form-group">
            <label for="username">Nombre de usuario</label>
            <input type="text" name="username" id="username" class="form-control" value="{{usuario.username}}">
        </div>
        <div class="form-group">
            <label for="password">Clave</label>
            <p>Su clave no es visible por seguridad</p>
            <input type="password" name="password" id="password" class="form-control">
        </div>
        <div class="form-group">
            <label for="password_confirmacion">Confirmación clave</label>
            <input type="password" name="password_confirmacion" id="password_confirmacion" class="form-control">  
        </div>
        <div class="form-group">
            <label for="mobile">Número de celular</label>
            <input type="text" name="mobile" id="mobile" class="form-control" value="{{usuario.mobile}}">  
        </div>
        <div style="margin-top: 20px;">
            <input type="submit" value="Actualizar" name="actualizar" class="form-control btn btn-warning">
        </div>
    </form>
</div>
{% endblock %}