{% extends 'layout.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-3 my-4">
            <div class="list-group">
                <a href="/producto/belleza" class="list-group-item">Belleza</a>
                <a href="/producto/hogar" class="list-group-item">Hogar</a>
                <a href="/producto/relajacion" class="list-group-item">Relajación</a>
                <a href="/producto/salud_mental" class="list-group-item">Salud Mental</a>
            </div>
        </div>
        <div class="container" style="padding: 50px;">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card card-outline-secondary my-4">
                        <div class="card-header">
                            Resumen del pedido
                        </div>
                        {% if productos != False %}
                            <div class="card-body">
                                {% from "includes/_formhelpers.html" import render_field %}
                                    <h1>Número de pedido: {{pedido[0].id_pedido}}</h1>
                                    <hr>
                                    <label for="oplace">Dirección de envío</label>
                                    <p>{{ pedido[0].oplace }}</p>
                                    <label for="mobile">Número de contacto</label>
                                    <p>{{ pedido[0].mobile }}</p>
                                    <label for="ddate">Fecha de entrega</label>
                                    <p>{{ pedido[0].ddate }}</p>
                                    <hr>
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Nombre producto</th>
                                                <th>Precio</th>
                                                <th>Cantidad</th>
                                                <th>Total por producto</th>
                                            </tr>
                                        </thead>
                                        <tbody >
                                            {% for producto in productos %}
                                                <tr>
                                                    <td>{{producto.pName}}
                                                        <input type="hidden" name="id_order" value="{{producto.id_order}}">
                                                    </td>
                                                    <td>${{producto.price}}</td>
                                                    <td>{{producto.quantity}}</td>
                                                    <td>${{producto.total_producto}}</td>                                                 
                                                </tr>
                                            {% endfor %}
                                            <tr>
                                                <td><hr>Total de la compra:</td>
                                                <td></td>
                                                <td></td>
                                                <td><hr>${{total}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <a href="/view_product">Seguir Comprando</a>
                            </div>
                        {% else %}
                            <h2>El carrito está vacio</h2>
                            <a href="/view_product">Ver lista de productos</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
