<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom shadow-sm fixed-top">
    <a class="navbar-brand" href="/"><img class="d-block img-fluid" src="/static/image/logo.jpg" alt="New York" width="100"
        height="150">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <div class="input-group p-0 justify-content-center">
            <form action="/search" method="get" class="w-100 m-0" style="padding-right: 20%;">
                <div class="input-group-append rounded-left">
                    <input type="text" class="form-control rounded-left form-control-sm" autocomplete="off" style="float: left; border-radius: 0;" name="q" placeholder="What you want...">
                    <button class="btn btn-success btn-sm rounded-right" style="border-radius: 0;" type="submit">Search</button>
                </div>
            </form>
        </div>
        <ul class="navbar-nav ml-auto">
            {% if session.logged_in %}
            <li class="nav-item"><a href="/" class="nav-link"><span class=""></span> Home</a></li>
            <li class="nav-item"><a href="/view_product" class="nav-link"><span class=""></span>Todos los servicios</a>
            </li>
            <li class="nav-item"><a href="/lista_mis_productos" class="nav-link"><span class=""></span>Mis servicios</a>
            </li>
            <li><a href="/admin_add_product">Añadir servicio</a></li>
            <li class="nav-item"><a href="/out" class="nav-link"><span class=""></span> Logout</a></li>
            <li><a href="/miperfil">Editar mi perfil</a></li>
            <li><a href="/carrito_render"> <span>Carrito</span>  <div class="contador">{{ session.cantidad_productos }}</div></a></li>
            {% else %}
            <li class="nav-item"><a href="/" class="nav-link"><span class=""></span> Home</a></li>
            <li class="nav-item"><a href="/register" class="nav-link"><span class=""></span> Registro</a></li>
            <li class="nav-item"><a href="/ingresar" class="nav-link"><span class=""></span> Login</a></li>
            {% endif %}
        </ul>
    </div>
</nav>